.bodyclass{
    background: url(https://w.wallhaven.cc/full/q2/wallhaven-q2d2xd.jpg) no-repeat;
    background-position: center middle no-repeat;
    position: block;
    background-size: cover;
    left:0;
    top:0;
    }
    