header {
     a{
         padding: 5px 12px;
         text-decoration: none;
         color: $maincolor;
         box-sizing: border-box;
         font-weight: bold;
      }

            .contenedor{
                display: flex;
                flex-direction: column;
                align-items:center;
            }

                  .nav{
                  color: rgb(58, 57, 19);
                  display: flex;
                  flex-direction:column;
                  text-align:center;
                  padding-bottom:25px;
                  }
        }